section.sponsors
  h3.sponsors-title Nuestros ❤ sponsors
  ul.sponsors-list
    each sponsor, i in sponsors
      li
        a(href=sponsor.url, title="#{sponsor.name}: #{sponsor.title}", target="_blank")
          img(src=sponsor.logo alt=sponsor.name)